.table {
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 400px;
  color: #6a5d5d;
  border: 1px solid #c4baba;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5em;
}

.table tr:nth-child(odd) {
  background-color: #f3f2f8;
}

.table::-webkit-scrollbar {
  width: 0.8em;
}

.table::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

.table::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}
